[submodule "emulator"]
	path = emulator
	url = git@github.com:cartesi/machine-emulator.git
[submodule "rom"]
	path = rom
	url = git@github.com:cartesi/machine-emulator-rom.git
[submodule "tests"]
	path = tests
	url = git@github.com:cartesi/machine-tests.git
[submodule "fs"]
	path = fs
	url = git@github.com:cartesi/image-rootfs.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:cartesi/image-kernel.git
[submodule "toolchain"]
	path = toolchain
	url = git@github.com:cartesi/image-toolchain.git
