[submodule "emulator"]
	path = emulator
	url = ../machine-emulator.git
[submodule "kernel"]
	path = kernel
	url = ../image-kernel.git
[submodule "toolchain"]
	path = toolchain
	url = ../image-toolchain.git
[submodule "solidity-step"]
	path = solidity-step
	url = ../machine-solidity-step.git
[submodule "machine-emulator-tools"]
	path = tools
	url = ../machine-emulator-tools.git
